<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/main.css">
    <link  rel="stylesheet" href="/static/index.css">
    <link  rel="stylesheet" href="/static/filt.css">
</head>
<body>
    <div id="head">
        <header class="header">
            <div class="header_top">
                <div class="container_header">
                    <div class="header_inner">
                        <a class="logo" href="{{ url_for('index') }}">Типо прикольное название</a>
                        <nav class="menu">
                            <ul class="menu_list">
                                {% if current_user.is_admin %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('admin_panel') }}">Админ-панель</a>
                                    </li>
                                {% endif %}
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('index') }}">Главная</a>
                                </li>
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('favourites') }}">Избранное</a>
                                </li>
                                {% if current_user.is_authenticated %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('profile', username=current_user.username) }}">Профиль</a>
                                    </li>
                                {% else %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('login') }}">Войти</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="header_btn">
            <div class="category-dropdown">
                <button class="dropdown-toggle">Категории</button>
                <div class="dropdown-menu">
                    {% for category in categories %}
                        <a href="{{ url_for('products_view', category_name=category.categ_name) }}">{{ category.categ_name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="post_ad_container">
                <form action="{{ url_for('new_product') }}" method="get">
                    <button id="btn_new_pr" type="submit">Разместить свое объявление</button>
                </form>
            </div>
            <div class="search_container">
                <form action="{{ url_for('search_products') }}" method="get">
                    <input class="search" type="search" name="search_bar" placeholder="Поиск товара" />
                    <button id="btn_search" type="submit">Поиск</button>
                </form>
            </div>
        </div>
    </div>


<div class="filters-container">
    <form action="{{ url_for('filters') }}" method="get" class="filters-form">
        <input type="hidden" name="category" value="{{ current_category }}">

<!--            <label for="min_price">От</label>-->
            <input type="number" id="min_price" name="min_price" placeholder="Мин. цена, ₽">



<!--            <label for="max_price">До</label>-->
            <input type="number" id="max_price" name="max_price" placeholder="Макс. цена, ₽">


<!--            <label for="city">Город</label>-->
            <select id="city" name="city">
                <option value="">Все города</option>
                {% for city in cities %}
                    <option value="{{ city.city }}" {% if city.city == selected_city %}selected{% endif %}>{{ city.city }}</option>
                {% endfor %}
            </select>



<!--            <label for="condition">Состояние</label>-->
            <select id="condition" name="condition">
                <option value="">Все категории</option>
                <option value="new">Новый</option>
                <option value="used">Б/у</option>
            </select>


            <button type="submit" class="filter-button">Применить</button>
            <a href="{{ url_for('products_view', category_name=current_category) }}" class="reset-button">Сбросить</a>

    </form>
</div>


<!--    <div class="sidebar">-->
<!--        <h2>Категории</h2>-->
<!--        <ul>-->
<!--            {% for category in categories %}-->
<!--                <li><a href="{{ url_for('products_view', category_name=category.categ_name) }}">{{ category.categ_name }}</a></li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->

<!--    <form method="get" action="{{ url_for('filters') }}" class="filters-form">-->
<!--    <div class="filters">-->
<!--        <input type="number" name="min_price" placeholder="Мин. цена" value="{{ request.args.get('min_price', '') }}">-->
<!--        <input type="number" name="max_price" placeholder="Макс. цена" value="{{ request.args.get('max_price', '') }}">-->

<!--        <select name="city">-->
<!--            <option value="">Город</option>-->
<!--            {% for city in cities %}-->
<!--                <option value="{{ city }}" {% if request.args.get('city') == city %}selected{% endif %}>{{ city }}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->

<!--        <select name="condition">-->
<!--            <option value="">Состояние</option>-->
<!--            <option value="новый" {% if request.args.get('condition') == 'новый' %}selected{% endif %}>Новый</option>-->
<!--            <option value="б/у" {% if request.args.get('condition') == 'б/у' %}selected{% endif %}>Б/у</option>-->
<!--        </select>-->

<!--        <select name="category">-->
<!--            <option value="">Категория</option>-->
<!--            {% for category in categories %}-->
<!--                <option value="{{ category.categ_name }}" {% if request.args.get('category') == category.categ_name %}selected{% endif %}>-->
<!--                    {{ category.categ_name }}-->
<!--                </option>-->
<!--            {% endfor %}-->
<!--        </select>-->

<!--        <button type="submit">Фильтровать</button>-->
<!--    </div>-->
<!--</form>-->





    <main class="goods-container">
        <div class="goods-list">
            {% for good in goods %}
                <div class="good-card">
                    <a href="{{ url_for('good_detail', good_id=good.id) }}">
                        {% if good.images and good.images|length > 0 %}
                            <img src="data:image/jpeg;base64,{{ good.images[0].image_data|b64encode }}" alt="{{ good.name }}" class="good-image" />
                        {% else %}
                            <img src="{{ url_for('static', filename='default_image.jpg') }}" alt="Нет изображения" class="good-image" />
                        {% endif %}
                        <h3>{{ good.name }}</h3>
                        <p>Цена: {{ good.price }} руб.</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if not goods %}
            <p>Товары не найдены.</p>
        {% endif %}
    </main>

</body>
</html>