<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/authorization.css">
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>
    <div id='head'>
        <header class="header">
            <div class="header_top">
                <div class="container_header">
                    <div class="header_inner">
                        <a class="logo" href="{{ url_for('index') }}">Типо прикольное название</a>
                        <nav class="menu">
                            <ul class="menu_list">
                                {% if current_user.is_admin %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('admin_panel') }}">Админ-панель</a>
                                    </li>
                                {% endif %}
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('index') }}">Главная</a>
                                </li>
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('favourites') }}">Избранное</a>
                                </li>
                                {% if current_user.is_authenticated %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('profile', username=current_user.username) }}">Профиль</a>
                                    </li>
                                {% else %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('login') }}">Войти</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
             </div>



    <div class="sign_in">
        <div class="back">   
        <a href="{{url_for('index')}}">Назад</a> 
         <h1>Регистрация</h1> 
    </div> 
       
<div class="container">
    <form class="sign_in-form" method="POST" action="{{ url_for('registration') }}">
        <div class="img"><img id="img" src="{{ url_for('static', filename='user.png') }}"></div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {{ form.hidden_tag() }}

        <div class="username">
            {{ form.username(class="form-control", placeholder="Введите ваше имя") }}
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="email">
            {{ form.email(class="form-control", placeholder="Введите ваш мейл") }}
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password(class="form-control", placeholder="Введите пароль") }}
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.password_confirm(class="form-control", placeholder="Повторите пароль") }}
            {% for error in form.password_confirm.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="buttons">
            {{ form.submit(class="submit") }}
            <button class="cancel" type="button">Отменить</button>
        </div>

        <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
    </form>
</div>



</body>
</html>