<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/authorization.css">
    <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="/static/good_card.css">
</head>
<body>


    <div id='head'>
        <header class="header">
            <div class="header_top">
                <div class="container_header">
                    <div class="header_inner">
                        <a class="logo" href="{{ url_for('index') }}">Типо прикольное название</a>
                        <nav class="menu">
                            <ul class="menu_list">
                                {% if current_user.is_admin %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('admin_panel') }}">Админ-панель</a>
                                    </li>
                                {% endif %}
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('index') }}">Главная</a>
                                </li>
                                <li class="menu_list-item">
                                    <a class="menu_list-link" href="{{ url_for('favourites') }}">Избранное</a>
                                </li>
                                {% if current_user.is_authenticated %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('profile', username=current_user.username) }}">Профиль</a>
                                    </li>
                                {% else %}
                                    <li class="menu_list-item">
                                        <a class="menu_list-link" href="{{ url_for('login') }}">Войти</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
             </div>


    <div class="log_in">
        <div class="back">
        <a href="{{ request.referrer or url_for('index') }}">Назад</a>
           <h2>Новое имя</h2>
    </div>
         <h2>Изменить имя пользователя</h2>
                <form action="{{ url_for('update_username') }}" method="POST">
                    <div class="form-group">
                        <label for="username">Новое имя пользователя:</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Подтвердить изменение</button>
                </form>
<!--                <a href="{{ url_for('settings', username=current_user.username) }}">Назад к настройкам</a>-->
        </div>


</body>
</html>